<!DOCTYPE html>
<html>
<head>
  <title>Find user</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-..." crossorigin="anonymous">
</head>
<body class="index">

<%= render "common/header" %>

<%= render "common/notice" %>

<% if current_user &&  (current_user.role == "admin" || current_user.role == "student")%>

  <!-- Thanh tìm kiếm -->
  <%= form_with url: root_path, method: :get, local: true, class: "search" do |f| %>
    <div>
      <%= f.text_field :query, value: params[:query], class: "form-control", placeholder: "Nhập tên hoặc email..." %>
    </div>

    <div>
      <% if current_user.role == "admin" %>
        <%= f.select :role, options_for_select(
            [["Tất cả", ""], ["Admin", "admin"], ["Gia sư", "teacher"], ["Học viên", "student"]],
            selected: params[:role]
        ), {}, class: "form-select" %>
      <%end %>
    </div>

    <div>
      <%= f.submit "Tìm kiếm", class: "btn btn-success w-100" %>
    </div>

    <div>
      <%= link_to "Đặt lại", root_path, class: "btn btn-success w-100" %>
    </div>
  <% end %>

  <h2>Danh sách user</h2>
  <% if @user.present? %>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th>Họ tên</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th class="text-center">Hành động</th>
        </tr>
        </thead>
        <tbody>
        <% @user.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td class="<%= 'locked' if user.is_locked == true %> text-center d-flex justify-content-center">
              <%= link_to user_detail_path(user), method: :get, class: "btn btn-primary" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"></path>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"></path>
                </svg>
                Xem chi tiết
              <%end %>
              <%if @current_user.role == 'admin' %>
                <%= button_to user_lock_path(user), method: :post, class: "btn btn-outline-danger" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2-fill" viewBox="0 0 16 16">
                    <path d="M7 6a1 1 0 0 1 2 0v1H7z"></path>
                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-2 6v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V8.3c0-.627.46-1.058 1-1.224V6a2 2 0 1 1 4 0"></path>
                  </svg>
                  Lock
                <%end %>

                <%= button_to user_unlock_path(user), method: :post, class: "btn btn-success" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2-fill" viewBox="0 0 16 16">
                  <path d="M7 6a1 1 0 0 1 2 0v1H7z"></path>
                  <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-2 6v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V8.3c0-.627.46-1.058 1-1.224V6a2 2 0 1 1 4 0"></path>
                </svg>
                Open
                <%end %>
              <%end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <%= will_paginate @user %>
    </div>
  <% else %>
    <p style="text-align:center;">Chưa có gia sư nào.</p>
  <% end %>
<% elsif current_user && current_user.role == "teacher" %>
  <p style="text-align:center;">ds tin nhắn</p>
<% end %>

</body>
</html>
